/*===== GOOGLE FONTS =====*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import url('https://fonts.googleapis.com/css?family=Cabin|Herr+Von+Muellerhoff|Source+Sans+Pro:400,900&display=swap');

/*===== VARIABLES CSS =====*/

:root {
    --header-height: 3rem;
    /*========== Colors ==========*/
    --first-color: #0d11f5;
    --first-color-alt: #2f11d8;
    --title-color: #393939;
    --text-color: #707070;
    --text-color-light: #A6A6A6;
    --body-color: #FBFEFD;
    --container-color: #FFFFFF;
    /*========== Font and typography ==========*/
    --body-font: 'Poppins', sans-serif;
    --biggest-font-size: 2.25rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;
    /*========== Margenes ==========*/
    --mb-1: .5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;
    --mb-6: 3rem;
    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
}

@media screen and (min-width: 768px) {
     :root {
        --biggest-font-size: 4rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}


/*========== BASE ==========*/

*,
::before,
::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}


/*========== Variables Dark theme ==========*/

body.dark-theme {
    --title-color: #F1F3F2;
    --text-color: #C7D1CC;
    --body-color: #1D2521;
    --container-color: #27302C;
}


/*========== Button Dark/Light ==========*/

.change-theme {
    position: absolute;
    right: 1rem;
    top: 1.8rem;
    color: var(--text-color);
    font-size: 1rem;
    cursor: pointer;
}

body {
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
    line-height: 1.6;
}

h1,
h2,
h3,
p,
ul {
    margin: 0;
}

ul {
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}


/*========== CLASS CSS ==========*/

.section {
    padding: 4rem 0 2rem;
}

.section-title,
.section-subtitle {
    text-align: center;
}

.section-title {
    font-size: var(--h1-font-size);
    color: var(--title-color);
    margin-bottom: var(--mb-3);
}

.section-subtitle {
    display: block;
    color: var(--first-color);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-1);
}


/*========== LAYOUT ==========*/

.bd-container {
    max-width: 960px;
    width: calc(100% - 2rem);
    margin-left: var(--mb-2);
    margin-right: var(--mb-2);
}

.bd-grid {
    display: grid;
    gap: 1.5rem;
}

.l-header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--body-color);
}


/*========== NAV ==========*/

.nav {
    max-width: 1024px;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .nav__menu {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        padding: 1.5rem 0 1rem;
        text-align: center;
        background-color: var(--body-color);
        transition: .4s;
        box-shadow: 0 4px 4px rgba(0, 0, 0, .1);
        border-radius: 0 0 1rem 1rem;
        z-index: var(--z-fixed);
    }
}

.nav__item {
    margin-bottom: var(--mb-2);
}

header .nav__logo {
    color: blue;
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
}

header.sticky .nav__logo {
    color: blue;
}

header .nav__logo span {
    color: #ff0157;
}

.nav__link,

/*.nav__logo,*/

.nav__toggle {
    color: var(--text-color);
    font-weight: var(--font-medium);
}

.nav__logo:hover {
    color: var(--first-color);
}

.nav__link {
    transition: .3s;
}

.nav__link:hover {
    color: var(--first-color);
}

.nav__toggle {
    font-size: 1.3rem;
    cursor: pointer;
}


/* Show menu */

.show-menu {
    top: var(--header-height);
}


/* Active menu */

.active-link {
    color: var(--first-color);
}


/* Change background header */

.scroll-header {
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
}


/* Scroll top */

.scrolltop {
    position: fixed;
    right: 1rem;
    bottom: -20%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .3rem;
    background: rgb(112, 110, 233);
    border-radius: .4rem;
    z-index: var(--z-tooltip);
    transition: .4s;
    visibility: hidden;
}

.scrolltop:hover {
    background-color: var(--first-color-alt);
}

.scrolltop__icon {
    font-size: 1.8rem;
    color: var(--body-color);
}


/* Show scrolltop */

.show-scroll {
    visibility: visible;
    bottom: 1.5rem;
}


/*========== HOME ==========*/

.home__container {
    height: calc(100vh - var(--header-height));
    align-content: center;
}

.home__title {
    font-size: var(--biggest-font-size);
    color: var(--first-color);
    margin-bottom: var(--mb-1);
}

.home__subtitle {
    font-size: var(--h1-font-size);
    color: var(--title-color);
    margin-bottom: var(--mb-4);
}

.home__img {
    width: 300px;
    justify-self: center;
}

.container {
    width: 100%;
    max-width: 122.5rem;
    margin: 0 auto;
    padding: 0 2.4rem;
}


/*hero*/

.hero {
    width: 100%;
    height: 100vh;
    background: url(../images/menu-group-1.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    text-align: center;
}

.sub-headline {
    font-size: 8.5rem;
    font-family: 'Herr Von Muellerhoff', cursive;
    color: red;
    font-weight: 100;
    line-height: .4;
    letter-spacing: 2px;
    opacity: 0;
    animation: fadeUp .5s forwards;
    animation-delay: .5s;
}

.first-letter {
    text-transform: uppercase;
    font-size: 10.3rem;
}

.headline {
    color: blue;
    font-size: 3.7rem;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: .5rem;
    margin-right: -.5rem;
    animation: scale .5s forwards;
}

.separator {
    display: flex;
    align-items: center;
    justify-content: center;
}

.line {
    width: 100%;
    max-width: 8.4rem;
    height: .25rem;
    background-color: #111;
    position: relative;
    opacity: 0;
    animation: grow 2s forwards;
    animation-delay: .9s;
}

.line-right::before,
.line-left::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: .6rem solid transparent;
    opacity: 0;
    animation: grow .5s forwards;
    animation-delay: 1.2s;
}

.line-right::before {
    border-right-color: #111;
    right: 0;
}

.line-left::before {
    border-left-color: #111;
    left: 0;
}

.asterisk {
    font-size: 1.2rem;
    color: red;
    margin: 0 1.6rem;
    opacity: 0;
    animation: spin .5s forwards;
    animation-delay: .7s;
}

.single-animation {
    opacity: 0;
    animation: fadedown .5s forwards;
    animation-delay: 1.5s;
}

.headline-description h5 {
    color: #111;
    font-size: 1.4rem;
    font-weight: 100;
    text-transform: uppercase;
    margin-bottom: 1.2rem;
    letter-spacing: 3px;
    margin-right: -3px;
}

.btn {
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: -2px;
}

.cta-btn {
    font-size: 1.1rem;
    background-color: blue;
    padding: .9rem 1.8rem;
    color: #fff;
    border-radius: .4rem;
    transition: background-color .5s;
}

.cta-btn:hover,
.cta-btn:focus {
    color: #111;
    background-color: red;
}


/*========== ABOUT ==========*/

.about__data {
    text-align: center;
}

.about__description {
    margin-bottom: var(--mb-3);
}

.about__img {
    width: 280px;
    border-radius: .5rem;
    justify-self: center;
}

.titletext {
    color: #111;
    font-size: 2em;
    font-weight: 300;
}

.titletext span {
    color: #ff0157;
    font-weight: 700;
    font-size: 1.5em;
}


/*========menu===============*/

.menu__container {
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
}

.menu__content {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: var(--container-color);
    border-radius: .5rem;
    box-shadow: 0 2px 4px rgba(3, 74, 40, .15);
    padding: .75rem;
}

.menu__img {
    width: 100px;
    align-self: center;
    margin-bottom: var(--mb-2);
}

.menu__name,
.menu__price {
    font-weight: var(--font-semi-bold);
    color: var(--title-color);
}

.menu__name {
    font-size: var(--normal-font-size);
}

.menu__detail,
.menu__price {
    font-size: var(--small-font-size);
}

.menu__detail {
    margin-bottom: var(--mb-1);
}

.menu__button {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    padding: .625rem .813rem;
    border-radius: .5rem 0 .5rem 0;
}

.title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


/*=========================experts========================*/

.expert .content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.expert .content .box {
    width: 250px;
    margin: 15px;
}

.expert .content .box .imgbx {
    position: relative;
    width: 100%;
    height: 300px;
}

.expert .content .box .imgbx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.expert .content .box .text {
    padding: 15px 0 5px;
}

.expert .content .box .text h3 {
    font-weight: 400;
    color: #111;
}


/*=============================feedback=============================*/

.feedback {
    background: url(../images/bg2.jpg);
    background-size: cover;
}

.white .titletext,
.white p {
    color: #fff;
}

.feedback .content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 40px;
}

.feedback .content .box {
    width: 340px;
    margin: 20px;
    padding: 40px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.feedback .content .box .imgbx {
    position: relative;
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
    border-radius: 50%;
    overflow: hidden;
}

.feedback .content .box .imgbx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.feedback .content .box .text {
    text-align: center;
}

.feedback .content .box .text p {
    color: #666;
    font-style: italic;
}

.feedback .content .box .text h3 {
    margin-top: 20px;
    color: #111;
    font-size: 1em;
    color: #ff0157;
    font-weight: 600;
}

.contact {
    background: url(../images/bg3.jpg);
    background-size: cover;
}

.contactform {
    padding: 75px 50px;
    background: #fff;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin-top: 50px;
}

.contactform h3 {
    color: #111;
    font-size: 1.2em;
    margin-bottom: 20px;
    font-weight: 500;
}

.contactform .inputbox {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

.contactform .inputbox input,
.contactform .inputbox textarea {
    width: 100%;
    border: 1px solid #555;
    padding: 10px;
    color: #111;
    outline: none;
    font-size: 16px;
    font-weight: 300;
    resize: none;
}

.contactform .inputbox input[type="submit"] {
    font-size: 1em;
    color: #fff;
    background: #ff0157;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: .5s;
    max-width: 100px;
    font-weight: 500;
    border: none;
    cursor: pointer;
}


/*==============footer===================*/

.footer__container {
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    row-gap: 2rem;
}

.footer__logo {
    font-size: var(--h3-font-size);
    color: var(--first-color);
    font-weight: var(--font-semi-bold);
}

.footer__description {
    display: block;
    font-size: var(--small-font-size);
    margin: .25rem 0 var(--mb-3);
}

.footer__social {
    font-size: 1.5rem;
    color: var(--title-color);
    margin-right: var(--mb-2);
}

.footer__title {
    font-size: var(--h2-font-size);
    color: var(--title-color);
    margin-bottom: var(--mb-2);
}

.footer__link {
    display: inline-block;
    color: var(--text-color);
    margin-bottom: var(--mb-1);
}

.footer__link:hover {
    color: var(--first-color);
}

.footer__copy {
    text-align: center;
    font-size: var(--small-font-size);
    color: var(--text-color-light);
    margin-top: 3.5rem;
}

@media screen and (min-width: 576px) {
    .home__container,
    .about__container,
    .app__container {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }
    .about__data,
    .about__initial,
    .app__data,
    .app__initial,
    .contact__container,
    .contact__initial {
        text-align: initial;
    }
    .about__img,
    .app__img {
        width: 380px;
        order: -1;
    }
    .contact__container {
        grid-template-columns: 1.75fr 1fr;
        align-items: center;
    }
    .contact__button {
        justify-self: center;
    }
}

@media screen and (min-width:768px) {
    body {
        margin: 0;
    }
    .section {
        padding-top: 8rem;
    }
    .nav {
        height: calc(var(--header-height)+ 1.5rem);
    }
    .nav__list {
        display: flex;
    }
    .nav__item {
        margin-left: var(--mb-5);
        margin-bottom: 0;
    }
    .nav__toggle {
        display: none;
    }
    .change-theme {
        position: initial;
        margin-left: var(--mb-2);
    }
    .home__container {
        height: 100vh;
        justify-items: center;
    }
    .services__container,
    .menu__container {
        margin-top: var(--mb-6);
    }
    .menu__container {
        grid-template-columns: repeat(3, 210px);
        column-gap: 4em;
    }
    .menu__content {
        padding: 1.5rem;
    }
    .menu__img {
        width: 130px;
    }
    .app__store {
        margin: 0 var(--mb-1) 0 0;
    }
}

@media screen and (min-width:960px) {
    .bd-container {
        margin-left: auto;
        margin-right: auto;
    }
    .home__img {
        width: 500px;
    }
    .about__container,
    .app__container {
        column-gap: 7rem;
    }
}


/*animation*/

@keyframes fadeUp {
    0% {
        transform: translateY(4rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes scale {
    0% {
        transform: scale(2);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes grow {
    0% {
        width: 0;
    }
    100% {
        opacity: 1;
        width: 100%;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0);
    }
    100% {
        opacity: 1;
        transform: rotate(-360deg);
    }
}

@keyframes fadedown {
    0% {
        transform: translateY(-1rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes Up {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translateY(-1rem);
    }
}